/* GLOBAL */

@import url('https://fonts.googleapis.com/css?family=Sacramento|Source+Sans+Pro&display=swap');

/* NAVIGATION */

header {
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    background-color: #f3efea; /* tan */
}

.logo {
    font-family: 'Sacramento', cursive;
    margin-top: 0;
}

nav {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-left: 25%; */
}

h1 {
    display: flex;
    align-self: flex-start;
}

li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/* MAIN CONTENT */

/* ABOUT */

.about {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8%;
    padding-bottom: 2%;
}

.about-img {
    width: 540px;
    height: 362px;
}

.about-paragraph {
    width: 40%;
    height: 180px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    align-self: center;
}

/* SPREAD */

.spread {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #FBD2D7; /* millenial pink */
}

.spread-paragraph {
    width: 40%;
    height: 180px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    align-self: center;
}

.spread-img {
    width: 540px;
    height: 362px;
}

/* ON THE GO */

.portable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
}

.portable-paragraph {
    width: 40%;
    height: 180px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    align-self: center;
}

.portable-img {
    width: 372px;
    height: 416px;
}


/* FOOTER */

footer {
    height: 50px;
    width: 100%;
    background-color: #f3efea; /* tan */
}